@charset 'utf-8';

* {
    box-sizing: border-box;
}
html {
    font-size: 14px;
    font-weight: 300;
}
body {
    margin: 0;
    width: 100%;
    font-family: Spoqa Han Sans, sans-serif;
    word-break: keep-all;
    letter-spacing: -0.3px;
}

.container {
    margin: auto;
    padding: 50px 20px;
}

h1 {
    font-size: 51px;
    line-height: 0.9;
    font-family: Spoqa Han Sans, sans-serif;
    margin: 10px 0px;
    width: 70vw;
}

h2 {
    font-size: 2.3rem;
    line-height: 2;
    margin-top: 110px;
    /* margin-bottom: 60px; */
    line-height: 0.7;
    width: 60vw;
}

h3 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    margin-top: 60px;
}

h4 {
    font-size: 1.2rem;
    margin: 50px 0px 0px 0px;
    /* font-weight: 400; */
}

.position {
    font-size: 0.8rem;
    margin: 15px 0px 40px 0px;
    line-height: 1.2;
}

.title3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 30px 0px 4px 0px;
}

.point {
    /* font-size: 3rem; */
    background: -webkit-linear-gradient(left, #00b894, #81ecec);
    background: -moz-linear-gradient(right, #00b894, #81ecec);
    background: -o-linear-gradient(right, #00b894, #81ecec);
    background: linear-gradient(to right, #00b894, #81ecec);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Noto Sans JP', sans-serif;
}

.short_discription {
    font-size: 1.5rem;
    font-weight: 400;
    word-break: break-all;
}

nav {
    height: 10px;
    position: sticky;
    top: 0;
    /* background: linear-gradient(to left, blue, red); */
    background: linear-gradient(to right, #00b894, #81ecec);
}

.experience {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

li {
    color: #00b894;
}

.black {
    color: #222;
}

a {
    /* color: #00b894; */
    background: -webkit-linear-gradient(left, #00b894, #81ecec);
    background: -moz-linear-gradient(right, #00b894, #81ecec);
    background: -o-linear-gradient(right, #00b894, #81ecec);
    background: linear-gradient(to right, #00b894, #81ecec);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Noto Sans JP', sans-serif;
}

.contact {
    font-size: 2rem;
}

@media (min-width: 1024px) {
    body {
        font-size: 1.3rem;
        font-weight: 300;
    }

    h1 {
        font-size: 5rem;
        line-height: 1.1;
        font-family: Spoqa Han Sans, sans-serif;
        margin: 0px;
    }

    h2 {
        font-size: 3.5rem;
        margin-bottom: 1vh;
    }

    h3 {
        font-size: 2.5rem;
        padding: 0;
        margin: 0;
    }

    h4 {
        font-size: 2.2rem;
        margin: 0;
        /* font-weight: 400; */
    }

    .container {
        margin: auto;
        width: 100%;
        max-width: 50rem;
    }

    .short_discription {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.4;
    }

    .name_intro {
        font-size: 4vw;
        margin-top: -10vh;
        width: 100%;
        line-height: 1.3;
        font-family: Spoqa Han Sans, sans-serif;
    }

    .experience {
        border-bottom: 1px solid #eee;
        display: grid;
        grid-template-columns: 4fr 6fr;
        padding: 50px 0px 20px 0px;
    }

    .company {
        display: flex;
        /* align-items: top; */
        font-size: 2.4rem;
        font-weight: 500;
        margin: 0;
    }

    .date {
        font-size: 1.2rem;
    }

    .title3 {
        font-size: 1.6rem;
        font-weight: 400;
    }

    .project {
        margin-bottom: 70px;
    }

    .position {
        font-size: 1rem;
        margin: 15px 0px 40px 0px;
        line-height: 1.2;
    }

    .skill_area {
        border-bottom: 1px solid #eee;
        padding: 50px 0px 50px 0px;
    }
}
