article {
    display: none;
    padding-top: 1rem;
    padding-bottom: 7rem;
    border-radius: 5px;
}
.article_title {
    list-style: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: black;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 27, 55, 0.1);
}

.article_title:hover {
    background-color: rgb(241, 241, 241);
}

.article_list {
    padding: 0;
}
.article_state {
    margin-right: 20px;
}
pre {
    margin: 0;
}

.career_tech_img {
    /* padding-top: 1rem; */
    width: 100%;
    cursor: zoom-in;
}

.small {
    font-size: 0.8rem;
    color: gray;
    text-align: center;
}

.img_box {
    padding-bottom: 3rem;
}

.article_section {
    padding-top: 4rem;
}

h5 {
    margin: 0;
    padding: 0 0;
}

.skill_box {
    border: 2px solid aquamarine;
    border-radius: 3px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: rgb(241, 241, 241);
    gap: 0.5rem;
}

.skill_badge {
    background-color: rgb(193, 255, 234);
    padding: 5px;
    font-size: 1rem;
    color: black;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgb(175, 185, 182);
}
.article_img_box {
    display: flex;
    justify-content: center;
}

.grid_4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

    gap: 13px;
}

.grid_item {
    position: relative;
    display: flex;
    align-items: flex-end;
    /* width: 23vw; */
    max-height: 180px;
    overflow: hidden;
    border: 1px solid gray;
}

.grid_item::after {
    display: none;
    position: absolute;
    background-color: black;
    color: aquamarine;
    content: attr(data-content);
    text-align: center;
    width: 100%;
    height: 30px;
}

.grid_item:hover::after {
    display: block;
}

.filter_img {
    width: 100%;
}

.filter_img:hover {
    transform: scale(1.01);
}

strong {
    color: red;
}

.numbering {
    margin-bottom: 1rem;
}
