body.dark {
    margin: 0;
    width: 100%;
    /* font-family: Spoqa Han Sans, sans-serif; */
    font-family: 'Gothic A1', sans-serif;
    word-break: keep-all;
    letter-spacing: -0.3px;
    background: #141718;
    color: #f7f1e3;
    transition: all 0.7s;
}

/* 다크모드 버튼 */
body.dark .dark_toggle {
    display: none;
    opacity: 0;
}

body.dark .white_toggle {
    opacity: 1;
    transition: opacity 1s;
}

body.dark nav {
    height: 10px;
    position: nav;
    top: 0;
    background: linear-gradient(to right, #ff3478, #ff79a6);
}

body.dark .black {
    color: #f7f1e3;
}

body.dark a {
    color: #ff71a0;
}

body.dark li {
    color: #ff71a0;
}

body.dark .skill_box {
    border: 2px solid #ff3478;
}

body.dark .skill_badge {
    color: white;
    background-color: #ff3478;
}

body.dark .project_name {
    background: #141718;
}

body.dark .project {
    border: 2px solid #ff3478;
}

body.dark .contact_box:hover,
body.dark .point {
    /* font-size: 3rem; */
    background: -webkit-linear-gradient(left, #ff3478, #ff79a6);
    background: -moz-linear-gradient(right, #ff3478, #ff79a6);
    background: -o-linear-gradient(right, #ff3478, #ff79a6);
    background: linear-gradient(to right, #ff3478, #ff79a6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Noto Sans JP', sans-serif;
}

body.dark ::selection {
    background-color: #ff508b;
    color: black;
}

body.dark .contact_box:hover .email {
    background-color: #141718;
    color: #f7f1e3;
}
