@charset 'utf-8';

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* * {
    box-sizing: border-box;
} */
html {
    font-size: 14px;
    font-weight: 300;
}

ul {
    margin: 20px 0;
    padding: 0 25px;
}
li:not(.no_padding) {
    margin: 15px 0;
}

::selection {
    background-color: #55efc4;
    color: black;
}

nav {
    width: 100%;
    height: 10px;
    position: fixed;
    top: 0;
    left: 0;
    /* background: linear-gradient(to left, blue, red); */
    background: linear-gradient(to right, #00b894, #81ecec);
    z-index: 2;
}

body {
    margin: 0;
    width: 100%;
    background-color: rgb(250, 250, 250);
    /* font-family: Spoqa Han Sans, sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'NEXON Lv1 Gothic OTF'; */
    /* font-family: 'Helvetica Neue", Helvetica, Arial, sans-serif'; */
    font-weight: 400;
    word-break: keep-all;
    letter-spacing: -0.3px;
    transition: all 0.7s;
}

h1 {
    font-size: 51px;
    line-height: 0.9;
    font-family: Spoqa Han Sans, sans-serif;
    padding: 10px 0px;
    width: 70vw;
    margin: 0;
}

h2 {
    font-size: 2.3rem;
    line-height: 2;
    line-height: 0.7;
    width: 100%;
    margin: 15px 0;
}

h3 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    padding-top: 60px;
}

h4 {
    font-size: 1.3rem;
    padding: 1rem 0;
    margin: 0;
    /* margin: 50px 0px 0px 0px; */
    /* font-weight: 400; */
}

h5 {
    padding: 1.1rem;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

li {
    color: #00b894;
}

a {
    color: #00b894;
    font-family: 'Noto Sans JP', sans-serif;
}

a:not(.link):not(.section_title)::before {
    content: '🔗  ';
}

a.link:hover::before {
    color: aquamarine;
    content: '＃';
}

a.link:hover {
    color: aquamarine;
    text-decoration: underline;
}
a.link {
    text-decoration: none;
    color: #bdc3c7;
}

a.section_title {
    text-decoration: none;
    color: #bdc3c7;
}

a.section_title:hover {
    color: aquamarine;
    text-decoration: underline;
}

a.section_title:hover::before {
    color: aquamarine;
    content: '＃';
}

p {
    word-break: break-all;
    margin: 0;
}

.dark_button_box {
    position: absolute;
    top: 60px;
    right: 8vw;
}

.dark_toggle {
    opacity: 1;
    cursor: pointer;
    width: 50px;
    transition: opacity 1s;
    box-shadow: 1px 1px 10px 2px gray;
    border-radius: 10px;
    background-color: black;
}

.white_toggle {
    display: none;
    opacity: 0;
    cursor: pointer;
    width: 50px;
    box-shadow: 1px 1px 10px 2px gray;
    border-radius: 10px;
    background-color: black;
    /* transition: opacity 1s; */
}

.container {
    /* margin: auto; */
    padding: 0 20px;
}

.position {
    font-size: 0.8rem;
    margin: 15px 0px 40px 0px;
    line-height: 1.2;
}

.point {
    /* font-size: 3rem; */
    background: -webkit-linear-gradient(left, #00b894, #81ecec);
    background: -moz-linear-gradient(right, #00b894, #81ecec);
    background: -o-linear-gradient(right, #00b894, #81ecec);
    background: linear-gradient(to right, #00b894, #81ecec);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Noto Sans JP', sans-serif;
}

.short_discription {
    font-size: 1.5rem;
    font-weight: 400;
    word-break: break-all;
}

.experience {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.black {
    color: #222;
}

.contact {
    font-size: 2rem;
}

.white_arrow,
.dark_arrow {
    display: none;
    position: fixed;
    width: 3rem;
    right: 40px;
    bottom: 8vh;
    cursor: pointer;
}

.side_content {
    display: none;
}

section {
    padding: 5rem 0;
}

.contact_button {
    position: sticky;
    top: 2px;
    width: 2rem;
}

.tech_logo {
    width: 3rem;
}

.no_drag {
    user-select: none;
}

.tooltip {
    color: #00b894;
    cursor: pointer;
    position: relative;
}

.tooltip::after {
    --scale: 0;
    position: absolute;
    top: 30px;
    left: -6px;
    background-color: #00b894;
    width: 40px;
    text-align: center;
    border-radius: 10px;
    content: '툴팁';
    color: #222;
    padding: 5px;
    transform: scale(var(--scale));
    transform-origin: top;
    transition: 0.4s transform;
}

.tooltip:hover::after {
    --scale: 1;
}

.project {
    border: 2px solid #55efc4;
    padding: 1.3rem;
    margin: 40px 0.7rem;
    position: relative;
    border-radius: 5px;
    margin-bottom: 3rem;
}

.project_name {
    position: absolute;
    background-color: rgb(250, 250, 250);
    top: -1.9rem;
    left: 1rem;
    padding: 0 0.3rem;
}

/* 🖥 가장 큰 화면 */
@media (min-width: 1300px) {
    h3 {
        font-size: 1rem;
    }
    .grid-box {
        display: grid;
        grid-template-columns: 8fr 2fr;
        width: 100%;
        max-width: 70rem;
        margin: 0 auto;
    }
    .side_content {
        display: block;
    }

    .content_sticky_box {
        position: -webkit-sticky;
        width: 200px;
        position: sticky;
        top: 19rem;
        margin-left: 20px;
        margin-top: 540px;
    }

    .contact_box {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0.6rem;
        font-size: 1rem;
        left: 20px;
        width: 200px;
        background-color: white;
        box-shadow: 1px 2px 5px rgb(161, 161, 161);
        border-radius: 8px;
        border: 1px solid rgb(221, 219, 219);
        margin-bottom: 20px;
    }

    .email:hover {
        color: #55efc4;
    }

    .email_box {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .email {
        width: 100%;
        border: none;
        cursor: pointer;
        overflow: visible;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .email:focus {
        outline: none;
    }

    .contents {
        border-left: 2px solid #d6d6d6;
        padding-left: 17px;
        display: block;
    }

    .little_title {
        text-align: left;
        margin: 2px 0px;
        font-size: 1.4rem;
        color: #bdc3c7;
        cursor: pointer;
    }
}

/* 💻 노트북 화면 */
@media (min-width: 1170px) {
    .dark_button_box {
        right: 17vw;
    }
}

@media (min-width: 1551px) {
    .side_content {
        right: 12vw;
    }
    .dark_button_box {
        right: 20vw;
    }

    .white_arrow,
    .dark_arrow {
        right: 22vw;
    }
}

/* 📱 스마트폰 화면 */
@media (min-width: 700px) {
    body {
        font-size: 1.3rem;
        font-weight: 300;
    }

    h1 {
        font-size: 5rem;
        line-height: 1.1;
        font-family: Spoqa Han Sans, sans-serif;
        margin: 0;
    }

    h2 {
        font-size: 3.5rem;
        padding-bottom: 0.5em;
        margin: 0;
    }

    .challenge_title {
        padding-top: 1.5em;
    }

    h3 {
        font-size: 2rem;
        padding: 0;
        margin: 0;
    }

    h4 {
        font-size: 1.3rem;
        margin: 0;
        /* font-weight: 400; */
    }

    .container {
        margin: auto;
        width: 100%;
        max-width: 50rem;
    }

    .short_discription {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.4;
    }

    .name_intro {
        font-size: 4vw;
        margin-top: -10vh;
        width: 100%;
        line-height: 1.3;
        font-family: Spoqa Han Sans, sans-serif;
    }

    .experience {
        border-bottom: 1px solid #eee;
        /* display: grid;
        grid-template-columns: 4fr 6fr; */
        padding: 50px 0px 20px 0px;
    }

    .company_info {
        padding-bottom: 3rem;
    }

    .date {
        font-size: 1.2rem;
    }

    .position {
        font-size: 1.5rem;
        margin: 1rem 0px 1rem 0px;
        line-height: 1.2;
    }

    .skill_area {
        border-bottom: 1px solid #eee;
        padding: 50px 0px 50px 0px;
    }
}

.copyEmail {
    width: 1.4em;
}
