.modal {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    /* opacity: 80%; */
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
    cursor: zoom-out;
}

.modal_img {
    background-color: red;
    width: 80vw;
    max-width: 650px;
    opacity: 100%;
    z-index: 6;
}

.modal_header {
    position: absolute;
    top: 2rem;
    right: 2rem;
}
